# Data files (Large datasets)
rtu_data_full.csv
rtu_data_full.parquet
*.zip
*.tar.gz

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Virtual Environment
.venv/
venv/
ENV/
env/
pythonvenv/

# IDE and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*~

# OS files
.DS_Store
Thumbs.db